@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

.github, .github * {
  font-family: 'IBM Plex Sans Thai', sans-serif;

  transition: all .3s;
}

.github {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;

  padding: .5rem;
  margin-right: -216px;

  background-color: black;
  border-top-left-radius: 1rem;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.github:hover {
  margin-right: 0;
  text-decoration: none;
}

.github img {
  width: 50px;
  height: auto;
  
  display: block;

  transform: rotate(-45deg);
}

.github:hover img {
  transform: rotate(0)
}

.github p {
  opacity: 0;
  width: 200px;
  transition-delay: .3s;
  transition-property: opacity;
}

.github:hover p {
  opacity: 1;
  width: 200px;
  display: block;
}
