@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import url(src/css/responsive.css);
@import url(src/css/container.css);
@import url(src/css/widget.css);
@import url(src/css/discord_status.css);
@import url(src/css/feed.css);

* {
  font-family: 'Open Sans', sans-serif;

  transition: all .3s;
}

body {
  background: #2e2f2f;
  color: whitesmoke;
}