.widgetColBox .widgetBox {
  min-height: 6.5rem;
}

.widgetBox {
  min-height: 13rem;

  border-radius: 1rem;

  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

a.widgetBox {
  text-decoration: none;
  color: whitesmoke;
}

.widgetBox:hover {
  transform: scale(.95, .95);
  cursor: pointer;
}

.widgetBox:hover .overlay {
  transform: scale(1, 1);
}

a.widgetBox:hover {
  opacity: .6;
}

a.widgetBox:hover * {
  transform: scale(1.05, 1.05);
}

a.widgetBox:hover .overlay * {
  transform: scale(1.10, 1.10);
}

.widgetBox .textContainer * {
  margin: 0;
}